<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sky.user">

    <application
        android:theme="@style/AppTheme">

        <!--用户信息-->
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait"/>

        <!--登录-->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
